@{
    ViewData["Title"] = "Admin Panel";
    Layout = "_Layout";
}

<div class="row">
    <!-- Sidebar -->
    <div class="col-2 bg-dark text-white min-vh-100">
        <h4 class="mt-3">Admin Panel</h4>
        <ul class="nav flex-column mt-4">
            <li class="nav-item">
                <a href="#" id="btnQuanLySanPham" class="nav-link text-white">
                    <i class="fa fa-desktop"></i> Quản lý sản phẩm
                </a>
            </li>
            <li class="nav-item">
                <a href="#" id="btnQuanLyDonHang" class="nav-link text-white">
                    <i class="fa fa-shopping-cart"></i> Quản lý đơn hàng
                </a>
            </li>
            <li class="nav-item">
                <a href="#" id="btnQuanLyKhachHang" class="nav-link text-white">
                    <i class="fa fa-user"></i> Quản lý khách hàng
                </a>
            </li>
            <li class="nav-item">
                <a href="#" id="btnQuanLyNhanVien" class="nav-link text-white">
                    <i class="fa fa-users"></i> Quản lý nhân viên
                </a>
            </li>
        </ul>
    </div>

    <!-- Nội dung -->
    <div class="col-10 p-3">
        <h2 id="pageTitle">Trang quản trị</h2>
        <div id="content-area">
            <!-- AJAX sẽ load nội dung ở đây -->
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Load mặc định
            $("#content-area").load("/Admin/DanhSachSanPham");
            $("#pageTitle").text("Danh sách sản phẩm");

            // Quản lý sản phẩm
            $("#btnQuanLySanPham").click(function (e) {
                e.preventDefault();
                $("#pageTitle").text("Danh sách sản phẩm");
                $("#content-area").load("/Admin/DanhSachSanPham");
            });

            // Quản lý đơn hàng
            $("#btnQuanLyDonHang").click(function (e) {
                e.preventDefault();
                $("#pageTitle").text("Danh sách đơn hàng");
                $("#content-area").load("/Admin/DanhSachDonHang");
            });

            // Quản lý khách hàng
            $("#btnQuanLyKhachHang").click(function (e) {
                e.preventDefault();
                $("#pageTitle").text("Danh sách khách hàng");
                $("#content-area").load("/Admin/DanhSachKhachHang");
            });

            // Quản lý nhân viên
            $("#btnQuanLyNhanVien").click(function (e) {
                e.preventDefault();
                $("#pageTitle").text("Danh sách nhân viên");
                $("#content-area").load("/Admin/DanhSachNhanVien"); 
            });
        });
    </script>
}
